<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITemperaturaServico" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58227/TemperaturaServico.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemperaturaServico"
                contract="TemperaturaServiceTest.ITemperaturaServico" name="BasicHttpBinding_ITemperaturaServico" />
        </client>
    </system.serviceModel>
</configuration>